* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}

header {
  position: relative;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #072A5F;
  height: 8vh;
}
nav a.nav-active, nav .nav-active a {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  background-color: #CFE1FC;
  color: #072A5F;
}
nav .links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
nav .nav-links, nav .nav-links a {
  font-size: 24px;
  font-weight: bold;
  color: #CFE1FC;
  padding: 5px;
}
nav .nav-links:hover, nav .nav-links a:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: #CFE1FC;
  color: #072A5F;
}
@media screen and (max-width: 1200px) {
  nav .nav-links a {
    font-size: 16px;
    font-weight: bold;
  }
  nav .nav-active a {
    font-size: 16px;
    font-weight: bold;
  }
  nav .links a {
    font-size: 16px;
    font-weight: bold;
  }
}

.line {
  height: 20px;
  background-color: #0A3F8F;
}
.line-2 {
  height: 20px;
  background-color: #0D54BF;
  box-shadow: 0 4px 8px #03030386;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #f1f1f1;
  margin: 4px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .links {
    position: absolute;
    right: 0px;
    height: 60vh;
    top: 8vh;
    background-color: #072A5F;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  .burger {
    display: block;
  }

  .active {
    transform: translateX(0%);
  }

  header {
    background-position: center;
  }

  nav ul li a {
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    flex-direction: column-reverse;
  }
}
.home {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 1000px;
  background-image: url("img/photoPro.jpg");
  background-size: cover;
}
.home::before {
  content: "";
  position: absolute;
  height: 1500px;
  width: 200%;
  left: 10vw;
  top: -20%;
  z-index: 1;
  background-color: #072A5F;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  box-shadow: 0 0 0 50px #0A3F8F, 0 0 0 90px #0D54BF;
}
.home .homeTitle {
  z-index: 5;
  position: relative;
  font-size: 72px;
  font-weight: bold;
  color: #CFE1FC;
  top: 24vw;
  left: 10vw;
  height: fit-content;
}
.home .homePortfolio {
  z-index: 5;
  position: relative;
  font-size: 48px;
  font-weight: bold;
  color: #CFE1FC;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: #0A3F8F;
  top: 44vw;
  right: 10vw;
}

.responsiveIndex {
  display: none;
}

@media screen and (max-width: 1200px) {
  .home {
    display: none;
  }

  .responsiveIndex {
    display: block;
    background-image: url("img/photoPro.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
  }
  .responsiveIndex .surRes {
    display: flex;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    color: #CFE1FC;
    top: 155vw;
    height: 15vh;
    background-color: #0A3F8F;
    justify-content: center;
    align-items: center;
  }
}
body {
  background-color: #072A5F;
}
body .gridAboutMe {
  margin: 5vh 10vw 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
body .gridAboutMe .block {
  grid-column: 1/2;
  grid-row: 1/4;
  background-color: #0D54BF;
  padding: 25px;
  border-radius: 5px;
}
body .gridAboutMe .block .photo {
  position: relative;
  border-radius: 5px;
  height: 100%;
  background-image: url("img/photoPro.jpg");
  background-size: cover;
  background-position: center;
  object-fit: scale-down;
  overflow: hidden;
  box-shadow: 4px 4px 8px #03030386;
}
body .gridAboutMe .aboutMe {
  margin: 5% 0 0 10%;
}
body .gridAboutMe .aboutMe .aboutMe, body .gridAboutMe .aboutMe .titleAboutMe {
  font-size: 72px;
  font-weight: bold;
  color: #CFE1FC;
}
body .gridAboutMe .aboutMeP-1, body .gridAboutMe .aboutMeP-2 {
  margin: 10%;
  font-size: 24px;
  font-weight: bold;
  color: #CFE1FC;
}
@media screen and (max-width: 1200px) {
  body .gridAboutMe {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  body .gridAboutMe .block {
    display: none;
  }
  body .gridAboutMe .aboutMe {
    margin: 5vw;
    grid-column: 1/1;
    grid-row: 1/1;
  }
  body .gridAboutMe .aboutMe .titleAboutMe {
    font-size: 36px;
    font-weight: bold;
  }
  body .gridAboutMe .aboutMe .aboutMeP-1 {
    grid-column: 1/3;
    grid-row: 2/2;
    margin: 10vw;
  }
  body .gridAboutMe .aboutMe .aboutMeP-2 {
    grid-column: 1/3;
    grid-row: 3/3;
    margin: 10vw;
  }
}

.gridSkills {
  display: grid;
  margin: 10vh 10vw 0 10vw;
  grid-template-columns: 1fr 150px 1fr;
  grid-template-rows: 1fr 1fr;
}
.gridSkills .experienceTitle, .gridSkills .knowledgeTitle {
  font-size: 36px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  background-color: #CFE1FC;
  color: #072A5F;
  width: fit-content;
  height: fit-content;
}
.gridSkills .exp-1 {
  font-size: 24px;
  font-weight: bold;
  color: #CFE1FC;
  grid-column: 1/3;
  grid-row: 3/3;
}
.gridSkills .knowledgeTitle {
  grid-column: 3/3;
  grid-row: 2/1;
}
.gridSkills .know {
  font-size: 24px;
  font-weight: bold;
  color: #CFE1FC;
}
.gridSkills .know-1 {
  grid-column: 3/3;
  grid-row: 2/2;
  margin: 1vh;
}
.gridSkills .know-2 {
  grid-column: 3/3;
  grid-row: 3/3;
}
.gridSkills .know-2 .logo {
  display: inline-block;
  width: 18%;
  margin: 1vh;
}
.gridSkills .know-3 {
  grid-column: 3/3;
  grid-row: 4/4;
  margin: 1vh;
}
.gridSkills .know-4 {
  grid-column: 3/3;
  grid-row: 5/5;
}
.gridSkills .know-4 .logo {
  display: inline-block;
  width: 18%;
  margin: 1vh;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .gridSkills {
    margin: 3vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .gridSkills .experienceTitle {
    grid-column: 1/2;
    grid-row: 1/1;
    font-size: 24px;
    font-weight: bold;
    margin: 10vw 0 10vw 0;
  }
  .gridSkills .exp-1 {
    font-size: 24px;
    font-weight: bold;
    grid-column: 1/2;
    grid-row: 2/2;
    margin: 10vw;
  }
  .gridSkills .knowledgeTitle {
    grid-column: 1/1;
    grid-row: 3/4;
    font-size: 24px;
    font-weight: bold;
    margin: 10vw 0 10vw 0;
  }
  .gridSkills .know-1 {
    font-size: 24px;
    font-weight: bold;
    grid-column: 1/1;
    grid-row: 4/5;
    margin: 10vw 0 10vw 0;
  }
  .gridSkills .know-2 {
    grid-column: 1/1;
    grid-row: 5/6;
    margin: 0 0 0 10vw;
  }
  .gridSkills .know-3 {
    font-size: 24px;
    font-weight: bold;
    grid-column: 1/1;
    grid-row: 6/7;
    margin: 10vw 0 10vw 0;
  }
  .gridSkills .know-4 {
    grid-column: 1/1;
    grid-row: 7/8;
    margin: 0 0 0 10vw;
  }
}
.projectTitle {
  font-size: 36px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  color: #CFE1FC;
  margin: 10vh 10vw;
}

.boxProject {
  margin: 2rem auto;
  display: flex;
  height: 340px;
  width: 1024px;
  align-items: center;
}
.boxProject .imgBoxProject {
  height: 340px;
  width: 540px;
}
.boxProject .imgBoxProject .imgProject {
  box-shadow: 8px 12px 8px #03030386;
}
.boxProject .textBoxProject {
  padding: 1rem 2rem 1rem 1rem;
  height: 220px;
  width: 550px;
  background-color: #0D54BF;
  border-radius: 5px;
  box-shadow: 8px 12px 8px #03030386;
}
.boxProject .textBoxProject .titleBoxProject {
  display: flex;
  justify-content: space-between;
}
.boxProject .textBoxProject .titleBoxProject .titleProject {
  color: #CFE1FC;
  font-size: 18px;
  font-weight: 700;
}
.boxProject .textBoxProject .explainProject {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #CFE1FC;
  text-align: center;
  line-height: 22px;
}

.gridcontactme {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 100px 200px 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 5vh 10vw 0 0;
}
.gridcontactme .block {
  grid-column: 1/2;
  grid-row: 1/4;
  background-color: #0D54BF;
  padding: 25px;
  border-radius: 5px;
  grid-column: 1/2;
  grid-row: 1/5;
}
.gridcontactme .block .photo {
  position: relative;
  border-radius: 5px;
  height: 100%;
  background-image: url("img/photoPro.jpg");
  background-size: cover;
  background-position: center;
  object-fit: scale-down;
  overflow: hidden;
  box-shadow: 4px 4px 8px #03030386;
}
.gridcontactme .contactTitle {
  margin: 2vw;
  grid-column: 3/5;
  font-size: 72px;
  font-weight: bold;
  color: #CFE1FC;
}
.gridcontactme .github, .gridcontactme .gmail, .gridcontactme .ld {
  margin: 0 auto;
  width: 100%;
}
.gridcontactme .github {
  grid-column: 3/3;
  grid-row: 2/2;
}
.gridcontactme .gmail {
  grid-column: 3/3;
  grid-row: 3/3;
}
.gridcontactme .ld {
  grid-column: 3/3;
  grid-row: 4/4;
}
.gridcontactme .contact {
  margin: 1vw auto;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  font-size: 24px;
  font-weight: bold;
  color: #CFE1FC;
  transition: all 0.3s;
}
.gridcontactme .contact:hover {
  color: #0D54BF;
  padding: 5px;
  border-radius: 5px;
  background-color: #CFE1FC;
}
.gridcontactme .c-1 {
  grid-column: 4/4;
  grid-row: 2/2;
}
.gridcontactme .c-2 {
  grid-column: 4/4;
  grid-row: 3/3;
}
.gridcontactme .c-3 {
  grid-column: 4/4;
  grid-row: 4/4;
}

@media screen and (max-width: 1200px) {
  .gridcontactme {
    grid-template-columns: 1fr;
    grid-row: 1fr;
    height: 10vh;
    margin: 3vw;
  }
  .gridcontactme .block {
    display: none;
  }
  .gridcontactme .contactTitle {
    grid-column: 1/1;
    font-size: 36px;
    font-weight: bold;
  }
  .gridcontactme .github, .gridcontactme .gmail, .gridcontactme .ld {
    display: none;
  }
  .gridcontactme .c-1, .gridcontactme .c-2, .gridcontactme .c-3 {
    grid-column: 1/1;
  }
}

/*# sourceMappingURL=style.css.map */
