.home{
    position: relative;
    overflow: hidden;
    display: flex;
    height: 1000px;
    @include imgPortfolio('img/photoPro.jpg');
    &::before {
        content: '';
        position: absolute;
        height: 1500px;
        width: 200%;
        left: 150px;
        top: -15%;
        z-index: 1;
        background-color: $darkblue;
        transform: rotate(45deg);
        transform-origin: 0% 0%;
        box-shadow: 0 0 0 50px $line1, 0 0 0 90px $line2;
    }
}