header {
    position: relative;
    z-index: 10;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $darkblue;
    height: 8vh;
    a.nav-active, .nav-active a{
        @include font24;
        @include active;
        color: $darkblue;
    }
    .links{
        display: flex;
        justify-content: space-around;
        width: 45%;
    }
    .nav-links, .nav-links a{
        @include font24;
        color: $wihte;
        padding: 5px;
        &:hover{
            @include active;
            color: $darkblue;
        }
    }
    
    .burger {
        display: none;
        cursor: pointer;
    }
    
    .burger div {
        width: 25px;
        height: 3px;
        background-color: #f1f1f1;
        margin: 4px;
    }
    @include responsive {
        .nav-links a {
            @include font16;
        }
        .nav-active a {
            @include font16;
        }
        .links a{
            @include font16;
        }
        body {
            overflow-x: hidden;
        }
        
        .links {
            position: absolute;
            right: 0px;
            height: 60vh;
            top: 8vh;
            background-color: $darkblue;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            z-index: 1;
        }
        
        .burger {
            display: block;
        }
        
        .active {
            transform: translateX(0%);
        }
        
        header {
            background-position:center;
        }
        
        nav ul li a {
            display: flex;
            justify-content: flex-end;
        }
        
        nav ul {
            flex-direction: column-reverse;
        }
    }
}

.line{
    @include heightNav;
    background-color: $line1;
    &-2{
        @include heightNav;
        background-color: $line2;
        box-shadow: 0 4px 8px $shadow;
    }
}