header {
    position: relative;
    z-index: 10;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $darkblue;
    height: 8vh;
    a.nav-active, .nav-active a{
        @include font24;
        @include active;
        color: $darkblue;
    }
    .links{
        display: flex;
        justify-content: space-around;
        width: 45%;
    }
    .nav-links, .nav-links a{
        @include font24;
        color: $wihte;
        padding: 5px;
        transition: all 0.3s;
        &:hover{
            @include active;
            color: $darkblue;
        }
    }
    .burger {
        display: none;
        cursor: pointer;
        .burger1, .burger2, .burger3 {
            margin: 5px;
            width: 25px;
            background-color: $wihte;
            height: 3px;
        }
    }
}

.line{
    @include heightNav;
    background-color: $line1;
    &-2{
        @include heightNav;
        background-color: $line2;
        box-shadow: 0 4px 8px $shadow;
    }
}
