.projectTitle {
    @include font36;
    width: fit-content;
    height: fit-content;
    color: $wihte;
    margin: 10vh 10vw;
}

.boxProject {
    margin: 6rem auto;
    display: flex;
    height: 340px;
    width: 1024px;
    align-items: center;
    .imgBoxProject {
        height: 340px;
        width: 540px;
        .imgProject {
            box-shadow: 8px 12px 8px $shadow;
        }
    }
    .textBoxProject {
        padding: 1rem 2rem 1rem 1rem;
        height: 220px;
        width: 550px;
        background-color: $line2;
        border-radius: 5px;
        box-shadow: 8px 12px 8px $shadow;
        .titleBoxProject {
            display: flex;
            justify-content: space-between;
            .titleProject {
                color: $wihte;
                font-size: 18px;
                font-weight: 700;
            }
        }
        .explainProject {
            margin-top: 1rem;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            color: $wihte;
            text-align: center;
            line-height: 22px;
            a {
                font-weight: bold;
                color: $wihte;
                text-decoration: underline;
            }
        }
    }
    @include responsive {
        flex-direction: column;
        width: 350px;
        height: 500px;
        .imgBoxProject {
            margin: 0 auto;
            .imgProject {
                width: 350px;
                box-shadow: none;
            }
        }
        .textBoxProject {
            width: 350px;
            margin-bottom: 200px;
            box-shadow: none;
        }
    }
}