@mixin heightNav {
    height: 20px;
}

@mixin font24 {
    font-size: 24px;
    font-weight: bold;
}

@mixin font36 {
    font-size: 36px;
    font-weight: bold;
}

@mixin font72 {
    font-size: 72px;
    font-weight: bold;
}

@mixin active {
    padding: 5px;
    border-radius: 5px;
    background-color: $wihte;
}

@mixin imgPortfolio($url){
    background-image: url($url);
    background-size: cover;
}

@mixin imgSecond($url){
    background-image: url($url);
    background-size: cover;
    background-position: center;
    object-fit: scale-down;
}