@mixin heightNav {
    height: 20px;
}

@mixin font16 {
    font-size: 16px;
    font-weight: bold;
}

@mixin font24 {
    font-size: 24px;
    font-weight: bold;
}

@mixin font36 {
    font-size: 36px;
    font-weight: bold;
}

@mixin font48 {
    font-size: 48px;
    font-weight: bold;
}

@mixin font72 {
    font-size: 72px;
    font-weight: bold;
}

@mixin active {
    padding: 5px;
    border-radius: 5px;
    background-color: $wihte;
}

@mixin imgPortfolio($url){
    background-image: url($url);
    background-size: cover;
}

@mixin imgSecond($url){
    background-image: url($url);
    background-size: cover;
    background-position: center;
    object-fit: scale-down;
}

@mixin hoverP {
    @include font24;
    color: $wihte;
    display: block;
    height: 100%;
    border-radius: 5px;
    padding: 3%;
    background-color: $shadowHover;
}

@mixin Lphoto {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: $line2;
    padding: 25px;
    border-radius: 5px;
}

@mixin Photo {
    position: relative;
    border-radius: 5px;
    height: 100%;
    @include imgSecond('img/photoPro.jpg');
    overflow: hidden;
    box-shadow: 4px 4px 8px $shadow;
}

@mixin ImgContact {
    margin: 0 auto;
    width: 100%;
}

@mixin responsive {
    @media screen and (max-width: 1200px) {
        @content;
    }
}